# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# Data files (optional: ignore raw datasets if too large)
*.xlsx

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Results and figures (if you don’t want to track them)
result/*.txt
